{{#if addNewComment}}
  <h1>New Comment</h1>
    <div>
      <form>
        <div class="form-group">
          <label for="user">User Name</label>
          {{input value=user id="user"}}
        </div>

        <div class="form-group">
          <label for="text">Text</label>
          {{input value=text id="text"}}
        </div>

        <button {{action 'saveComment'}} class="btn btn-xs btn-default">Save</button>
      </form>
    </div>
{{else}}
    <button {{action 'commentFormShow'}} class="btn btn-xs btn-default">New Comment</button>
{{/if}}
