<h3> {{post.title}} </h3>
<h6> By {{post.user}} </h6>
<img src={{post.image}} class="home">
<br><br>
{{post.text}}
<br><br>
<button {{action 'delete' post}} class="btn btn-xs btn-danger">Delete Post</button>
<hr/>
