<h3> {{post.title}} </h3>
<h6> By {{post.user}} </h6>
<img src={{post.image}} class="home">
<br><br>
{{post.text}}
<br><br>
{{update-post post=post update="update"}}
<button {{action 'delete' post}} class="btn btn-xs btn-danger">Delete Post</button>

<hr>

{{new-comment saveComment="saveComment" post=post}}

<hr>

{{#each post.comments as |comment|}}
  <div class="well">
    <strong>{{comment.user}}</strong>
    <br>
    {{comment.text}}
  </div>
{{/each}}
